header {
  @include section;

  min-height: 100vh;
}

footer {
  @include section;
}

.card {
  @include background--default;
  
  border-radius: $radius;
  border: $border;
  margin-bottom: $lg;
  padding: $md;
}
